<div class="report-container">
  <div id="document-info" class="report-section">
    <h2>Dados do Documento Fiscal</h2>
    <p><strong>Série:</strong> <%= @report.document_info.serie %></p>
    <p><strong>Número da Nota Fiscal:</strong> <%= @report.document_info.nnf %></p>
    <p><strong>Data e Hora de Emissão:</strong> <%= @report.document_info.dhemi.strftime("%d/%m/%Y às %H:%M") %></p>
  </div>

  <%= render 'emitter' %>
  <%= render 'receiver' %>
</div>
