<h1>Upload de Arquivo XML</h1>

<%= form_with(model: @report, local: true) do |form| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "erro") %> proíbe este relatório de ser salvo:</h2>

      <ul>
        <% @report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :xml_file, "Selecione o arquivo XML" %><br>
    <%= form.file_field :xml_file %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>

<h1>Importar Arquivo ZIP</h1>

<%= form_with url: import_zip_reports_path, method: :post, local: true, html: { multipart: true } do |form| %>
  <div class="form-group">
    <%= form.label :zip_file, 'Escolha um arquivo ZIP para upload:' %>
    <%= form.file_field :zip_file %>
  </div>
  <div class="form-group">
    <%= form.submit 'Importar ZIP', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Voltar à Lista', root_path, class: 'btn btn-secondary' %>
